## traefik.yml

# API and dashboard configuration
api:
  dashboard: true
  insecure: true

# Define entry points
entryPoints:
  web:
    address: ":80"

# Providers configuration
providers:
  file:
    filename: /etc/traefik/dynamic_conf.yml
    watch: true